<!DOCTYPE html>
<html>
<head>
    <title>Employee List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .table th, .table td {
            text-align: center;
            vertical-align: middle;
        }

        .btn {
            padding: 6px 10px;
            font-size: 14px;
        }

        @media (max-width: 768px) {
            .btn {
                font-size: 12px;
                padding: 5px 8px;
            }

            h2 {
                font-size: 20px;
                text-align: center;
            }
        }
    </style>
</head>
<body>
    <div class="container mt-5">
    <div id="messageBox">
            <div id="successMessage" th:if="${session.success}" class="alert alert-success text-center" role="alert" th:text="${session.success}"></div>
            <div id="failureMessage" th:if="${session.failure}" class="alert alert-danger text-center" role="alert" th:text="${session.failure}"></div>
        </div>
        
        <h2 class="mb-4 text-center">Employee List</h2>
        <div class="text-center">
            <a href="/add-record" class="btn btn-primary mb-3">Add Employee</a>
        </div>
        
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Salary</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="employee : ${employees}">
                        <tr>
                            <td th:text="${employee.id}"></td>
                            <td th:text="${employee.name}"></td>
                            <td th:text="${employee.email}"></td>
                            <td th:text="${employee.age}"></td>
                            <td th:text="${employee.salary}"></td>
                            <td th:text="${employee.status ? 'Active' : 'Inactive'}"></td>
                            <td>
                                <a th:href="'/edit-record?id='+${employee.id}" class="btn btn-warning btn-sm">Edit</a>
                                <a th:href="'/delete-record?id='+${employee.id}" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>
     <script>
        setTimeout(() => {
            const messageBox = document.getElementById("messageBox");
            if (messageBox) {
                messageBox.style.opacity = "0";
                setTimeout(() => messageBox.remove(), 500);
            }
        }, 3000);
    </script>
</body>
</html>
